<div class="page-row">
  <!-------------------- Navigation --------------------------------->
  <div class="page-column-1 navigation">
    <span class="$$OVERVIEW_ACTIVE$$">
      <a href="/">Overview <i class="bi bi-house"></i></a>
    </span>
    <span class="$$ABOUT_ACTIVE$$">
      <a href="/about">About <i class="bi bi-info-circle"></i></a>
    </span>
    <span class="$$ASIGNMENTS_ACTIVE$$ ">
      <a href="/assignments">Assignments <i class="bi bi-eyeglasses"></i></a>
    </span>
    <span class="border border-1 border-light border-opacity-25 w-75"></span>
    <span>
      <span>Notes:</span>
    </span>
    <li class="$$NOTE_01_ACTIVE$$">
      <a href="/notes/1">01. Node Intro</a>
    </li>
    <li class="$$NOTE_02_ACTIVE$$">
      <a href="/notes/2">02. Functions & Express</a>
    </li>
    <li class="$$NOTE_03_ACTIVE$$">
      <a href="/notes/3">03. Loops & Body Parser && XSS</a>
    </li>
    <li class="$$NOTE_04_ACTIVE$$">
      <a href="/notes/4">04. Falsy, Methods & Styling</a>
    </li>
    <li class="$$NOTE_05_ACTIVE$$">
      <a href="/notes/5">05. Express Static, ES Modules & Navigation</a>
    </li>
    <li class="$$NOTE_06_ACTIVE$$">
      <a href="/notes/6">06. Scripts, Ports & Node env</a>
    </li>
    <li class="$$NOTE_07_ACTIVE$$">
      <a href="/notes/7">07. Routers, Components & SSR</a>
    </li>
  </div>
