<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>$$DOCUMENT_TITLE$$</title>
    $$CSS_FILE$$
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <link rel="icon" type="image/png" href="/assets/images/logo.png" />
  </head>
  <body>
    <nav>
      <a href="/">
        <img src="/assets/images/logo.png" id="logo" alt="node.js logo" />
      </a>
      <a href="/about"> About </a>
      <a href="/contact"> Contact</a>
    </nav>

    <main></main>
  </body>
</html>
